@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Light.woff2") format("woff2");
    font-weight: light;
    font-style: normal;
    font-display: swap; /*отрисовка если не загружен*/
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap; /*отрисовка если не загружен*/
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap; /*отрисовка если не загружен*/
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.navbar {
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    padding: 15px 30px;
    position: relative;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.slogan {
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0 0 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.nav-links a:hover {
    text-decoration: underline;
}

.divider {
    background-color: white;
    height: 2px;
    border: none;
    margin: 10px 0;
}
